*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 193);
}
a{
    background: #212121;
    padding: 100px 200px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 15% 35%;
}